<%= render "shared/navbar" %>
<%= render "shared/gardencard", :locals => { :garden => @garden } %>

<div class="container no-padding">

  <h2 class="text-center mt-4" style="margin-bottom: -30px; margin-left: 14px;"><strong>Mon plan d'implantation</strong></h2>

  <div class="plan" style="background-image: url('<%= asset_path('grass2.jpg') %>')">
    <% @garden.compartments.each_with_index do |comp, c| %>
      <div class="compartment" style="background-image: url('<%= asset_path('terre.jpg') %>');">
        <% comp.implantations.each do |imp| %>
          <% if imp.quantity > 0 %>
            <%= link_to vegetable_path(imp.vegetable.id) do %>
              <div class="implantation">
                <span class="quantity"><%= imp.quantity %></span>
                <div class="centered">
                  <img src="<%= image_path("#{imp.vegetable.name}.svg") %>" width="25" height="25" alt="<%= imp.vegetable.name %>" style="filter: brightness(0) invert(1);">
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <% total_price = 0 %>

  <h3 class="text-center mt-4"><strong>Ma liste de courses</strong></h3>

  <table class="col text-center">
    <tr>
      <th>
        Symbole
      </th>
      <th>
        Nom
      </th>
      <th>
        Quantité
      </th>
      <th>
        Prix Unitaire
      </th>
      <th>
        Prix Total
      </th>

  <% @quantity_hash.each do |vegetable_name, data| %>
    <% quantity = data[:quantity] %>
    <% unitary_price = data[:unitary_price] %>
    <% vegetable = Vegetable.find_by(name: vegetable_name) %>
    <% vegetable_price = unitary_price * quantity %>
    <% total_price += vegetable_price %>
    <tr>
      <td style="border-left: 1px solid green">
        <img  src="<%= image_path("#{vegetable.name}.svg") %>"
              width="25"
              height="25"
              alt="<%= vegetable.name %>">
      </td>
      <td>
        <%= link_to vegetable.name, vegetable_path(vegetable) %>
      </td>
      <td>
        <%= quantity %>
      </td>
      <td>
        <%= unitary_price %>
      </td>
      <td style="border-right: 1px solid green">
        <%= vegetable_price %>
      </td>
    </tr>
  <% end %>
    <tr>
      <td style="border-left: 1px solid green" colspan="4" class="col text-end"><strong><u>Total :</u></strong></td>
      <td style="border-right: 1px solid green"><strong><%=  total_price.round(2)%> €</strong></td>
    </tr>
  </table>
</div>
